.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 3% 30% 3% 30%
}

.card {
  margin: 3rem;
  border: 1px solid gray;
  padding: 1rem;
}

.huge{
  font-size: 100px;
  margin: auto auto auto auto;
}

.highLow{
    color: rgb(210, 237, 243); 
}

.med{
  font-size: 20px;
}

body{
    background-color: #2AC1E7;
    text-align: center;
    color: white;
    
}
